@import "tailwindcss";
@import "tw-animate-css";
@plugin "daisyui" {
  themes: light --default;
}

@plugin "daisyui/theme" {
  name: "ownMedTheme";
  default: true;

  --color-primary: #2dc653;       
  --color-secondary: #041c38;     
  --color-accent: #6c757d;        
  --color-base-content: #000000; 
}